*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.page{
    max-width: 1500px;
    min-width: 10vh;
    background-color: gray;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.window{
    width: 500px;
    height: 500px;
    border: 1px solid lawngreen;
    overflow: hidden;
}
.slizaren{
    display: flex;
    position: relative;
    left: -000px;
    transition: 1s;
}
.pic{
    flex:0 0 500px;
    height: 500px;
}
.pic_img{
    width: 100%;
    height: 100%;
    object-fit:  cover;
}
.btn{
    padding: 10px 30px;
    font-size: 20px;
}
